* {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2em;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    color: #fefefe;
    background-color: #222222;
}

pre, code {
    font-family: monospace;
}

.fr {
    float: right;
}

.control, .info {
    color: #00bc8c;
    font-size: 0.8em;
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #464545;
}

.control input {
    color: #f3f3f3;
    text-align: center;
    background-color: transparent;
}

.control select {
    color: #f3f3f3;
    background-color: #222;
}

.control :disabled {
    color: #555;
    cursor: not-allowed;
}

.button {
    color: #ffffff;
    cursor: default;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    border-color: #00bc8c;
    background-color: #00bc8c;
}

.button:hover {
    border-color: #464545;
    background-color: #303030;
}

.button input[type=file] {
    top: 0;
    right: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    display: block;
}

#sidebar, #workspace {
    top: 0;
    bottom: 0;
    padding: 15px;
    position: fixed;
    overflow: auto;
    z-index: 500;
}

#sidebar {
    width: 340px;
    list-style: none;
}

#sidebar h1 {
    margin-bottom: 5px;
}

#sidebar .control {
    display: block;
    margin-bottom: 5px;
}

#sidebar .control input {
    max-width: 60px;
}

#sidebar .control input[type="range"] {
    max-width: 120px;
}

#sidebar .control span {
    width: 100px;
    display: inline-block;
}

#sidebar .control span.unit {
    float: right;
    width: auto;
}

#workspace {
    right: 0;
    left: 340px;
}

#workspace .info span {
    color: #fff;
}

#workspace .info .weightUnit {
    color: #00bc8c;
}

#fileInfo {
    position: fixed;
}

#fileInfo .info {
    background-color: #222222;
}

#fileInfo .info, #fileInfo .control{
    margin-bottom: 15px;
}

#canvasWrapper {
    margin-top: 45px;
}

#gCodeWrapper {
    z-index: 1000;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    overflow: auto;
    background: #111;
}

#gCodeText {
    display: block;
    padding: 15px;
    background: #222;
    border-radius: 8px;
    border: 1px solid #464545;
}

#tooltip {
    left: 355px;
    display: none;
    padding: 15px;
    z-index: 1500;
    font-size: 0.8em;
    margin-right: 15px;
    position: absolute;
    border-radius: 4px;
    line-height: 1.6em;
    background-color: #111;
    border: 1px #00bc8c solid;
}

#tooltip code {
    padding: 2px 4px;
    font-size: 1.2em;
    border-radius: 4px;
    display: inline-block;
    background-color: #00bc8c;
}

.tooltip {
    display: none;
}
